<% content_for(:head) do -%>
  <%= javascript_include_tag('admin/members.js') %>
<% end -%>

<h1>Community members (<%= @members.count %>)</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>IsAdmin?</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @members.empty? -%>
      <tr><td colspan="5">There are no member at this time.</td></tr>
    <% else -%>
      <%= render :partial => 'member', :collection => @members %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @members.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@members, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
