<p id="notice"><%= notice %></p>

<p>
<%= render 'members/member' %>
</p>


<%= link_to "Edit #{@member.username}", edit_admin_member_path(@member) %> |
<%= link_to 'Community members', admin_members_path %>
