
<%= render 'member' %>
<div id="github-badge"></div>
<script type="text/javascript" charset="utf-8">
  GITHUB_USERNAME="<%= @member.username %>";
  GITHUB_THEME="white";
  GITHUB_TITLE = "Repositórios de <%= @member.name %>"
  GITHUB_SHOW_ALL = "Mostrar todos"
</script>
<script src="http://drnic.github.com/github-badges/dist/github-badge-launcher.js" type="text/javascript"></script>

<br />
<%= link_to 'Membros da comunidade', members_path %>
